* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: antiquewhite;
}

#game-screen{
  width: 100%;
}


#start-page {  
  display: block
}#start-page,#finish-page {
  position: relative;
  height: 100vh; /* Adjust as needed */
}

#title,#finish-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

#start-button,#finish-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  
  
}
#game-screen {
  display: none;
}


#finish-page {
  display: none;
}

#game-startsound,#game-endsound,#game-target,#game-win{
  display: none;
}

