* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: antiquewhite;
}

#game-screen{
  width: 100%;
}


#start-page {  
  display: block
}#start-page,#finish-page {
  position: relative;
  height: 100vh; /* Adjust as needed */
}

#title,#finish-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}
#howtoplay{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px black solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
.nickname {
  top: 25%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;

}
#nameinput{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: antiquewhite;
}

#nameinput:focus{
  background-color: antiquewhite;
}

#start-button,#finish-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  
  
}

#start-button{
  top: 68%;
  left: 50%;
}
#localstorage_test {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}

#game-screen {
  display: none;
}
#finish-page {
  display: none;
}

#game-startsound,#game-endsound,#game-target,#game-win,#spinmeround{
  display: none;
}

